/* custom.css */
body {
  font-family: 'Roboto', sans-serif !important;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
}


.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; /* Adjust as needed */
}

.column {
  padding: 0 15px; /* Adjust padding as needed */
  box-sizing: border-box;
}

/* Image container to handle image and caption */
.column img {
  display: block;
  margin: 0 auto 0 0; /* Top, Right, Bottom, Left */
  max-width: 100%;
  height: auto;
  float: left; /* Align to the left */
}

.column figcaption {
  clear: both; /* Ensures the caption stays below the floated image */
  padding-top: 10px; /* Adjust padding as needed */
}
